.heading{
    color: red;
}

#loginHeading {
    color: blue;
}

.home-image {
    width: 300px;
}

.Nested-container{
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    box-sizing: border-box;
}
.header-container{
    width: 100%;
    border: 2px solid red;
    height: 10%;
    box-sizing: border-box;
}
.body-container {
    height: 90%;
    width: 100%;
    border: 2px solid red;
    box-sizing: border-box;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 20%;
    border: 2px solid red;
    box-sizing: border-box;
}

.section{
    width: 80%;
    height: 100%;
    border: 2px solid red;
    box-sizing: border-box;
}

.content {
    height: 80%;
    border: 2px solid red;
    box-sizing: border-box;
}

.footer {
    height: 20%;
    border: 2px solid red;
    box-sizing: border-box;
}


.linkbutton {
    border: 1px solid blue;
    text-decoration: none;
    padding: 1px 23px;
    margin: 15px;
    background-color: aliceblue;
    display: inline-block;

}

.selection{
    background-color: blue;
    color:white;
    border: 1px solid blueviolet;
}


.form{
    display: flex;
    height: 100% !important;
}

.from-container {
    width: 60%;
    border: 2px solid red;
    box-sizing: border-box;
}

.output-container {
    width: 40%;
    border: 2px solid red;
    box-sizing: border-box;
}


.salary-from-container {
    width: 40%;
    border: 2px solid red;
    box-sizing: border-box;
}

.salary-output-container {
    width: 60%;
    border: 2px solid red;
    box-sizing: border-box;
}

.actors-from-container {
    width: 30%;
    border: 2px solid red;
    box-sizing: border-box;
}

.actors-output-container {
    width: 70%;
    border: 2px solid red;
    box-sizing: border-box;
}

.error-msg{
    color:red;
}

.new-year-msg {
    color: green;
    background-color: red;
    text-align:center ;
}


.profile-detail {
    margin-bottom: '20px';
    padding: '10px';
    border: '1px solid #ccc',
}

.lableText {
    width: 180px;
    display: inline-block;
}
  
.bottom-space {
    margin-bottom: 10px;
}
  
.new-year-from-container {
    text-align:center ;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


  .student-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
  }

  .student-list {
    width: 150px;
    height: 100px;
    border:2px solid red;
  }

  .student-list h3 {
    text-align: center;
    margin:0px;
  }

  .cars-list{
    width: 150px;
    height: 150px;
    border:2px solid red;
  }

  .cars-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
  }

  .cars-list h3 {
    text-align: center;
    margin:0px;
  }